.video-container {
    display: flex;
    flex-direction: column;
    height: 30rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 5px;
    background-color: rgba(49, 39, 39, 0.95); /* Darker blue-gray background */
    backdrop-filter: blur(5px);
    border: 2px solid #f38888; /* Use the same border color as GameBox */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Consistent shadow for depth */
    box-sizing: border-box;
}

.rules {
  font-family: 'Bebas Neue', sans-serif; /* Bold fighting game aesthetic */
  font-size: 28px;
  color: #f06c6c; /* Bright cyan-blue color for the title */
  margin-bottom: 2rem;
  text-transform: uppercase; /* Make the title uppercase */
}

.choice-button {
  font-family: 'Roboto', sans-serif;
  background-color: #f06c6c;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Consistent shadow for depth */
}

.choice-button:hover {
  background-color: #e49292;
}